.fairy {

    padding-top: 200px;

    &__top {
        position: relative;
        display: inline-block;
    }



    &__top-text {

        position: absolute;
        bottom: 0;
        right: -40%;

    }

    &__card {
        padding-top: 100px;
        display: flex;
    }

    &__description {
        padding-left: 55px;
        padding-right: max(15px, calc((100vw - 1230px)/2));
        align-self: center;
        width: 50%;
    }

    &__text {
        padding: 12px 0;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;

        &--xl {
            font-weight: bold;
        }
    }
}