.hotel {
    padding-top: 200px;


    &__top {
        position: relative;
        display: inline-flex;
        margin-bottom: 100px;

        &-header {
            font-family: 'Balqis';
            font-style: normal;
            font-weight: 400;
            font-size: 96px;
            line-height: 128px;
            color: #E2AB3F;
        }

        &-low-text {
            position: absolute;
            bottom: 0;
            right: -95px;
            font-style: italic;
            font-weight: 300;
            font-size: 24px;
            line-height: 28px;
        }
    }

    &__middle {
        display: grid;
        grid-template-columns: min-content min-content;
        gap: 90px;
    }

    &__body {

        &-text {
            padding-bottom: 20px;
            font-weight: 300;
            font-size: 18px;
            line-height: 21px;
        }

        &-text:last-of-type {
            padding-bottom: 0;
        }

        &-galery {
            padding-top: 80px;
            display: grid;
            grid-template-columns: min-content min-content;
            grid-auto-rows: min-content;
            gap: 50px;
        }
    }
}