.hotel {
    padding-top: 200px;


    &__top {
        position: relative;
        display: inline-flex;
        margin-bottom: 100px;

        &-text {
            bottom: 0;
            right: -95px;
        }
    }

    &__middle {
        display: flex;
    }

    &__body {
        width: 60%;
        padding-left: 100px;
        &-pic {
            width: 40%;
        }

        &-pic-item {
            object-fit: cover;
            height: 100%;
            max-width: 100%;
        }

        &-text {
            padding-bottom: 20px;
            font-weight: 300;
            font-size: 18px;
            line-height: 21px;
        }

        &-text:last-of-type {
            padding-bottom: 0;
        }

        &-galery {
            padding-top: 80px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 50px;
        }
    }
}